/* MOBILE AND GLOBAL STYLES */

/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */

body {
  font-family: 'Roboto', serif;
  margin: 0;
  background-size: cover;
  text-align: center;
}


h1 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

h3 {
  padding-top: 20px;
  font: bold 20px/1.5 Helvetica, sans-serif;
}

nav {
  display: none;
  clear: both;
  justify-content: center;
  background: #333;
  flex-direction: column;
}

nav a {
  padding: 1.25em 1.5em;
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  text-decoration: none;
  transition: all 0.5s;
}

.menu {
  background: rgb(255, 255, 255);
  text-align: center;
  font-size: 25px;
  color: rgb(0, 0, 0);
  line-height: 2em;
}
.menu-toggle {
  display: flex;
}
nav a:hover {
  color: #ffcc66;
}

main {
  text-align: justify;
  width: 99%;
  height: auto;
  padding: 0px;
  margin: 30px auto;
  box-shadow: 0px 0px 10px 2px #ffcc66;
  color: black;
  background-color: white;
  opacity: .9;
}

.slider{
  margin-top: 1em;
  width: 99%;
  height: 250px;
  background: url(1.jpg);
  background-size: 100% 100%;
  animation: slide 40s infinite;
  box-shadow: 0px 0px 10px 2px #ffcc66;
}

@keyframes slide{
  25%{
    background: url(2.jpg);
    background-size: 100% 100%;
  }
  50%{
    background: url(3.jpg);
    background-size: 100% 100%;
  }
  75%{
    background: url(4.jpg);
    background-size: 100% 100%;
  }
  100%{
    background: url(1.jpg);
    background-size: 100% 100%;
  }
}

* {margin: 0; padding: 0;}
 
.categories {
  width: 99%;
  height: auto;
  padding: 0px;
  margin: 30px auto;
  box-shadow: 0px 0px 10px 2px #ffcc66;
  color: black;
  background-color: white;
  opacity: .9;
}
 
ul {
  list-style-type: none;
  width: auto;
}
 
 
li img {
  width: 99%;
  height: 250px;
  float: center;
  margin: 0 0 0 0;
  padding: 5 0em;
}

.bmitest {
  width: 99%;
  height: 300px;
  float: center;
  margin: 0 0 0 0;
  padding: 5 0em;
}
 
li p {
  text-align: justify;
}
 
li {
  padding: 10px;
  overflow: hidden;
}


/*----------------------------------------------------Diet Page Start----------------------------------------------------*/

.dbody {
  background-color: rgb(196, 255, 225);
}

.bmi {
  color: black;
  display:block;
  width:100%;
  margin:0;
  padding:0;
}
form {
  background-color: white;
  display: inline-block;
  box-sizing: border-box;
  box-shadow: 2px 2px 20px 5px black;
  margin: 0;
  padding: 10px;
  width:100%;
  max-width: 400px;
}
input {
  box-shadow: 1px 1px 3px 1px black;
  width: 100%;
  text-align: center;
}

.submit {
  display:inline-block;
  color: white;
  background-color: grey;
  margin:0;
  padding: 5px;
  border: 0;
  font-weight: bold;
  width:100%;
}
.submit:hover {
  color: black;
  background-color: white;
  font-size: 0.7em;
  font-weight: bold;
}

#result {
  border: 1px solid black;
  padding: 2px;
  color: black;
  width: 100%;
  text-align: center;
}

h4 {
  color: black;
  text-shadow: -2px -2px 5px white;
  
}


/*----------------------------------------------------Diet Page End----------------------------------------------------*/


/* TABLET STYLES */

@media screen and (min-width: 500px) {

  /* applies to screens wider than 499px */
  body {
    background: rgb(255, 255, 255);
  }
  .menu {
    display: none;
  }
  nav {
    display: flex;
    flex-direction: row;
    background: white;
    font-weight: bold;
  }
  /* just change the menu colours on hover above mobile widths */
  nav a:hover {
    color: #ffcc66;
  }

  .slider{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  li img {
    width: 150px;
    height: 150px;
    float: left;
    margin: 0 1em 0 0;
    padding: 5 0em;
  }


}



/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {

  /* applies to screens wider than 999px */
  
  body {
    background-color: white; 
  } 

  .slider{
    height: 400px;
  }

  .categories {
    width: 60em;
    height: auto;
    padding: 0px;
    margin: 30px auto;
    box-shadow: 0px 0px 10px 2px #ffcc66;
    color: black;
    background-color: white;
    opacity: .9;
  }
   
  ul {
    list-style-type: none;
    width: auto;
  }
   
   
  li img {
    width: 25%;
    height: 25%;
    float: center;
    margin: 0 1em 0 0;
    padding: 5 0em;
  }
   
  li p {
    text-align: justify;
  }
   
  li {
    padding: 10px;
    overflow: hidden;
  }
   
}