/* MOBILE AND GLOBAL STYLES */

/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */

body {
  background: #fcc;
} 



/* TABLET STYLES */

@media screen and (min-width: 500px) {

  /* applies to screens wider than 499px */
  
  body {
    background: #cfc;
  } 
}



/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {

  /* applies to screens wider than 999px */

  body {
    background: #ffffff;
  } 

header h1 {
  margin: 0;
}

header {

  padding: 0.25em;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;

}
nav a {
  padding: 1.25em 1.5em;
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: all 0s;
}
nav a:hover {
  color: #ffcc66;
}

main {
  padding: 0 10px;
} 
}